.catalog {
  display: flex;
  flex-wrap: wrap;

  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
  }

  &__card:not(:nth-child(4n)) {
    margin-right: 48px;
  }
}
$screen-sizes: "2" 488px, 
"3" 768px, 
"4" 1024px;

@each $cards, $width in $screen-sizes {
  @media (min-width: #{$width}) {
    grid-template-columns: repeat(#{$cards}, 200px);
  }
}
